html,
body,
div,
section,
article,
aside,
header,
hgroup,
footer,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
time,
span,
em,
strong,
img,
ol,
ul,
li,
figure,
canvas,
video,
th,
td,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}

/*html5 display rule*/
address,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
nav,
section,
summary {
  display: block;
}

*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

body {
  font: Cantarell, Arial, Helvetica, 100%/1.5 sans-serif;
  color: #fdfefe;
  font-weight: 500;

  background: #e9f1fc;
}

.top-main {
  background: url(../../public/background.png);
  background-size: cover;
}

html::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #38a2c0;
  border-right: none;
  border-left: none;
}

html::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

html::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}
